@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .section-min-height {
        min-height: calc(100vh - 68px)
    }
    .toggle-btn {
        @apply [&>div::before]:translate-y-0 [&>div::before]:rotate-45
        [&>div::after]:translate-y-0 [&>div::after]:-rotate-45 [&>div]:bg-transparent [&>div]:rotate-[360deg]
    }
}
